@define-color color1 #d1cdb7;
@define-color foreground #48433b;
@define-color background #ece8d0;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: #9c8a8a;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @foreground;
}

#box {
  background: @background;
  padding: 12px;
  filter: drop-shadow(4px 4px 0px @foreground);
}

#search {
  background: @color1;
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  background: @color1;
  opacity: 0.2;
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: @color1;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: alpha(@color1, 0.4);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@background);
}
